body {
  background: #f3f0f0;
    font-family: 'Lora', serif;
    color: #333333;
    margin-top: 5rem;
    vertical-align: middle;
    
  
  }
 

#mainnavbar .navbar-brand{
  color: #faf5f4;
  font-size: 1.4rem;
  font-weight: 1000; 

}
#mainnavbar{
  border-bottom : 0.1px groove; 

  
}
#mainnavbar .nav-link{
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
}

#mainnavbar .nav-link:hover{
  background : #5f788f;
  font-size: 1.2rem;
  opacity: 1;

}
#mainnavbar .bs:hover{
  font-size: 1rem;
}
#bg{
  background-size: 1800px 900px;
  background-repeat: no-repeat;

  background-attachment: fixed;
}
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
   .content-section {
    background: #ffffff;
    box-shadow: 2px 2px 2px grey;
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-right: 3rem;
    margin-left: 3rem;
  } 
  
  .article-title {
    font-size: 1.5rem;
    color: #444444;
  }
  
  a.article-title:hover {
    color: #85331b;
    text-decoration: none;
  
  }
  
  .article-content {
    white-space: pre-line;
    
  }
  
  .article-img {
    height: auto;
    width: 45px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #5f788a;
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .center {
    margin-left: 190px ;
    width: 50%;
  
  }
  .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

 /* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #5f788a !important;
    margin-top: 550px;
    bottom : 0;
    width: 100%;
    opacity: 0.9;
    
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 0px 0;
  padding-top: 0px;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}






}